<div class="contact">
  <div class="contact__title">
    <div class="first">
      Связь с нами
    </div>
    <p>Оставьте свои данные для связи</p>
  </div>
  <form [formGroup]="userForm">
    <div>
      <input formControlName="name" type="text" placeholder="Ваше полное имя ">
    </div>
    <div class="email_phone__wrapper">
      <div>
        <input 
          formControlName="phone"
          placeholder="Ваш номер телефона"
          [showMaskTyped]="true"
          [prefix]="'+998'"
          [mask]="'(00)0000000'" >
      </div>
      <div>
        <input formControlName="email" type="email" placeholder="Ваш email  ">
      </div>
    </div>
    <div>
      <input type="text" formControlName="subject" placeholder="Тема ">
    </div>
    <div>
      <textarea formControlName="message" placeholder="Ваше сообщение "></textarea>
    </div>
    <div class="btn__wrapper">
      <button (click)="submit()">
        @if (isLoading()) {
          <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
        } @else {
          Отправить
        }
      </button>
    </div>
  </form>
</div>