<div class="about">
  <!-- <div class="img__wrapper">
    <img src="assets/images/kollektiv.png" alt="kollektiv">
  </div> -->
  <div class="about__content">
    <strong>О компании</strong>
    <h2>
      В последнее время среди жителей Узбекистана заметно увеличился спрос на качественно
      организованный отдых.В связи с этим увеличилось количество различных туристических
      предложений.
      Чтобы не растерять в таком разнообразии различных туров, необходимо
      владеть актуальной информацией по особенностям
      организации отдыха в различных странах.
      В нашем туристическом
      агентстве индивидуального и группового отдыха работают опытные
      специалисты по организации путешествий любого уровня сложности.
      Мы предлагаем полный комплекс качественных туристических услуп. предоставляемых
      на выгодных условиях.Мы подарим вам не только уверенность в успешной организации вашего
      путешествия, но и незабываемый и спокойный отдых.Вы можете полностью положить на нас!</h2>
  </div>
</div>