<div class="nav">
  <div class="nav__background"></div>
  <div class="nav__img">
    <img src="assets/images/nav_logo.svg" alt="logo" />
  </div>
  <div>
    <ul class="nav__lists">
      <li class="nav__list">
        <a href="#main">
          <span class="content line_hover"> главная </span>
          <span class="icon">
            <img src="assets/icons/ion_home-outline.svg" alt="home" />
          </span>
        </a>
      </li>
      <li class="nav__list">
        <a href="#about">
          <span class="content line_hover"> о компании </span>
          <span class="icon">
            <img src="assets/icons/vaadin_office.svg" alt="company" />
          </span>
        </a>
      </li>
      <li class="nav__list">
        <a href="#tours">
          <span class="content line_hover"> путешествия </span>
          <span class="icon">
            <img src="assets/icons/tabler_plane.svg" alt="plane" />
          </span>
        </a>
      </li>
      <li class="nav__list">
        <a href="#contacts">
          <span class="content line_hover"> контакты </span>
          <span class="icon">
            <img src="assets/icons/ph_phone-bold.svg" alt="phone" />
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
