<div class="cards">
  @for (acc of destinationList; track acc.id; let idx = $index) {
    <div class="card" (click)="onSelect(idx)">
      <div class="img__wrapper">
        <img [src]="acc.image" [alt]="acc.placeName">
      </div>
      <div class="card_btn__wrapper">
        <button [class.sharm]="acc.placeName =='ШАРМ-ЭШ-ШЕЙХ'">{{acc.placeName}}</button>
      </div>
    </div>
  }
</div>

<nz-modal 
  [(nzVisible)]="isModal"
  [nzWidth]="'auto'"
  [nzTitle]="''" 
  [nzFooter]="null"
  [nzClosable]="true"
  [nzCentered]="true"

  (nzOnCancel)="isModal.set(false)"
>
  <ng-container *nzModalContent>
      @for (active of activeCard.values(); track $index) {
        <div class="card__detail">
          <div class="box">
            <div class="card__text">
              {{destinationList[active].description}}
            </div>
          </div>
          <img [src]="destinationList[active].detailImg">
        </div>
      }
  </ng-container>
</nz-modal>

