<div class="footer">
  <div>
    <strong>Контактные данные </strong>
    <ul>
      <li>
        <a href="">
          <img src="assets/icons/bi_instagram.svg" alt="instagram" class="media">
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/icons/jam_telegram.svg" alt="telegram" class="media">
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/icons/gmail.svg" alt="gmail" class="media">
        </a>
      </li>
    </ul>

    <div class="call">
      <div>
        <img src="assets/icons/ph_phone-light.svg" alt="phone">
      </div>
      <div class="phone__numbers">
        <a href="tel:+998974008867" class="tel">+998974008867</a> <br>
        <a href="tel:+998330930088" class="tel">+998330930088</a> 
      </div>
    </div>
  </div>
  <div class="logo">
    <img src="assets/images/footer_logo.png" alt="logo">
  </div>
</div>